<div class="contact-container">
    <h1>Contact Us</h1>
    <p class="contact-description">
      Have questions? We'd love to hear from you. Fill out the form below, and we'll get back to you as soon as possible!
    </p>
  
    <form class="contact-form"  [formGroup]="studentForm">
      <div class="form-group">
        <label for="name">Your Name</label>
        <input type="text" id="name"   formControlName="fname"placeholder="Enter your name" required />
        <div class="text-danger">
          @if (studentForm.controls['fname'].touched && studentForm.controls['fname'].errors?.['required']) {
          <span>This is Required</span>
          } @else if (studentForm.controls['fname'].touched && studentForm.controls['fname'].errors?.['minlength']) {
          <span>Min char 4 Required</span>
          }
        </div>
    
      </div>
      <div class="form-group">
        <label for="email">Your Email</label>
        <input type="email" id="email"  formControlName="email" placeholder="Enter your email" required />
        <div class="text-danger">
          @if (studentForm.controls['email'].touched && studentForm.controls['email'].errors?.['required']) {
          <span>This is Required</span>
          } @else if (studentForm.controls['email'].touched && studentForm.controls['email'].errors?.['email']) {
          <span>Email format </span>
          }
        </div>
      </div>
      <div class="form-group">
        <label for="password">Your password</label>
        <input type="password" id="password"  formControlName="password"placeholder="Enter your password" required />
        <div class="text-danger">
          @if (studentForm.controls['password'].touched && studentForm.controls['password'].errors?.['required']) {
          <span>This is Required</span>
          } @else if (studentForm.controls['password'].touched && studentForm.controls['password'].errors?.['minlength']) {
          <span>Min char 4 Required</span>
          }
        </div>
      </div>
      <button type="submit" style = "background-color:#ff6a3c;"class=" w-100" [disabled]="studentForm.invalid" (click)="onSubmit()">
        Submit
      </button>
    </form>
    <div class="container text-scuccess">
      {{ formValue | json }}
    </div>

  </div>
  
