<nav class="navbar">
  <div class="navbar-logo">
    <img src="images/eeeee.jpg" alt="StepUp Shoes" class="logo" />
    <!-- <a href="#">STEPUP</a> -->
  </div>
  <div class="navbar-links">
    <a routerLink="home">Home</a>
    <a routerLink="shop">Shop</a>
    <a routerLink="about">About</a>
    <a routerLink="contact">Contact</a>
    
  </div>
  <div class="navbar-actions">
    
    <button class="cart-button"    routerLink="add-to-cart">
      <i class="fa fa-cart-plus" > Add to Cart</i>
  
      <span class="cart-badge">{{totalItems}}</span>
    </button>
    <a class="log" routerLink="login">Login</a>
  </div>
</nav>


<router-outlet></router-outlet>

<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-about">
      <h3>StepUp Shoes</h3>
      <p>Your ultimate destination for stylish and comfortable footwear.</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/shop">Shop</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/#">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contact Us</h3>
      <p>Email: supportstepupshoes.com</p>
      <p>Phone: +1 234 567 890</p>
      <p>Address: 123 Shoe Street, Footwear City, USA</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 StepUp Shoes. All rights reserved.</p>
  </div>
</footer>
  
